body {
    background: #181818;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #232323;
    padding: 2em 1em;
    text-align: center;
    border-bottom: 4px solid #aaff00;
}

header h1 {
    color: #157c00;
    background: #aaff00;
    display: inline-block;
    margin-bottom: 10px;
    padding: 6px 30px;
    border-radius: 12px;
}

header a {
    color: #aaff00;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

header a:hover {
    color: #000000;
    background: #aaff00;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

header p {
    color: #d0ffd0;
    margin-bottom: 50px;
}

.section a {
    display: block;
    margin-bottom: 1em;
}